defmodule __WEB_MODULE__.Plugs.RequireAuthentication do
  @moduledoc false
  import Plug.Conn
  import Phoenix.Controller

  def init(options), do: options

  def call(%{assigns: %{current_user: %{status: :active}}} = conn, _options), do: conn

  def call(conn, _options) do
    conn
    |> put_session(:return_to, safe_return_to(conn))
    |> redirect(to: "/sign-in")
    |> halt()
  end

  defp safe_return_to(%{method: "GET", request_path: path}) when byte_size(path) <= 500, do: path
  defp safe_return_to(_conn), do: "/"
end
