defmodule __MODULE__.Secrets do
  @moduledoc false
  use AshAuthentication.Secret

  def secret_for([:authentication, :tokens, :signing_secret], __MODULE__.Accounts.User, _options, _context),
    do: Application.fetch_env(:__APP__, :token_signing_secret)

__IF_GOOGLE__
  def secret_for([:authentication, :strategies, :google, key], __MODULE__.Accounts.User, _options, _context)
      when key in [:client_id, :client_secret, :redirect_uri] do
    :__APP__
    |> Application.fetch_env!(:google)
    |> Keyword.fetch(key)
  end
__END_GOOGLE__
end
