defmodule __MODULE__.DataCase do
  @moduledoc "Test support for cases that require the SQL sandbox."
  use ExUnit.CaseTemplate

  alias Ecto.Adapters.SQL.Sandbox
  alias __MODULE__.Repo

  using do
    quote do
      alias __MODULE__.Repo

      import Ecto
      import Ecto.Changeset
      import Ecto.Query
      import __MODULE__.DataCase
    end
  end

  setup tags do
    owner = Sandbox.start_owner!(Repo, shared: not tags[:async])
    on_exit(fn -> Sandbox.stop_owner(owner) end)
    :ok
  end
end
