defmodule __WEB_MODULE__.MetricsController do
  use __WEB_MODULE__, :controller

  def index(conn, _params) do
    conn
    |> put_resp_content_type("text/plain")
    |> send_resp(:ok, TelemetryMetricsPrometheus.Core.scrape())
  end
end
