app = "__APP__"
primary_region = "ord"
kill_signal = "SIGTERM"
kill_timeout = 120

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = "/app/bin/migrate"
  strategy = "rolling"

[env]
  PHX_SERVER = "true"
  PORT = "4000"
  POOL_SIZE = "10"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = false
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "30s"
    interval = "15s"
    method = "GET"
    path = "/readyz"
    timeout = "5s"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
