defmodule __WEB_MODULE__ do
  @moduledoc "Shared Phoenix entrypoint for controllers, HTML components, and routes."

  def static_paths, do: ~w(assets fonts images favicon.ico robots.txt)

  def router do
    quote do
      use Phoenix.Router, helpers: false
      import Phoenix.Controller
      import Phoenix.LiveView.Router
      import Plug.Conn
    end
  end

  def channel do
    quote do
      use Phoenix.Channel
    end
  end

  def controller do
    quote do
      use Phoenix.Controller, formats: [:html, :json]
      use Gettext, backend: __WEB_MODULE__.Gettext

      import Inertia.Controller
      import Plug.Conn

      unquote(verified_routes())
    end
  end

  def html do
    quote do
      use Phoenix.Component

      unquote(html_helpers())
    end
  end

  def live_view do
    quote do
      use Phoenix.LiveView
      unquote(html_helpers())
    end
  end

  def live_component do
    quote do
      use Phoenix.LiveComponent
      unquote(html_helpers())
    end
  end

  defp html_helpers do
    quote do
      use Gettext, backend: __WEB_MODULE__.Gettext

      import Inertia.HTML
      import Phoenix.Controller, only: [get_csrf_token: 0]
      import Phoenix.HTML

      alias __WEB_MODULE__.Layouts

      alias Phoenix.LiveView.JS

      unquote(verified_routes())
    end
  end

  def verified_routes do
    quote do
      use Phoenix.VerifiedRoutes,
        endpoint: __WEB_MODULE__.Endpoint,
        router: __WEB_MODULE__.Router,
        statics: __WEB_MODULE__.static_paths()
    end
  end

  defmacro __using__(which) when is_atom(which), do: apply(__WEB_MODULE__, which, [])
end
